Supported Content-Types. Do any not support plaintext? Do any support markdown?

Might be nice to somehow indicate what content types are supported by email clients. It might not be limited to plaintext and HTML. Maybe some implement rendering for more unusual formats. Maybe Markdown. [RFC 1049](https://tools.ietf.org/html/rfc1049) at least mentions that some users (at least back when that was written) would send TROFF, TEX and Postscript email. [RFC 767](https://tools.ietf.org/html/rfc767) seems to mention the possibility of sending voice data. Who knows if someone implemented something like that in a MUA, like embedding an audio player with automatic transcription in the message viewing area or simply launching an audio player automatically.

[Related HN subthread.](https://news.ycombinator.com/item?id=20955003)

From an user perspective, delivering markdown formatted emails would be handy, but there are quite many different markdown implementations which differ quite significantly, so we'd neet whole new support tables for that. 

I think Asciidoc has solved the troubles with non-standard-markdown quite well and if this is ever going to be implemented by any client, I hope they'd consider supporting adoc too. However currently there does not seem to be any client which support either. 

As someone mentioned on some forum somewhere on the internet, supporting markdown would require proper handling of content type headers first, handling of which varies a lot per client. Without that a markdown email might be shown as a file attachment on some clients and if majority of the clients behave this way, nobody is going to use md. 

Testing of content type header support is doable but is bit more complicated, since there should be a way to send the test emails with proper headers. It might require having a custom script to send the test emails.

For Markdown support, you would have to distinguish single-part and multi-part messages first, and for the latter also whether it was supported as the fallback. It’s also arguable, whether displaying a Markdown document simply as plain text already counts as supporting it. 

Just for the record:

- [RFC 7763](https://www.rfc-editor.org/rfc/rfc7763.html), [7764](https://www.rfc-editor.org/rfc/rfc7764.html) `text/markdown`
- [RFC 1896](https://www.rfc-editor.org/rfc/rfc1896.html), ~~1523~~ 1563 `text/enriched` – rare 
- [RFC 1341](https://www.rfc-editor.org/rfc/rfc1341.html#:~:text=The%20Text/richtext%20subtype) `text/richtext` – obsolete 
- [RFC 3676](https://www.rfc-editor.org/rfc/rfc3676.html), ~~2646~~ `text/plain` additions